body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
}
.el-table{
  border: 1px solid #eaeaea;
}
.el-table th{
  background-color: #eef1f6;
}
.el-table td, .el-table th {
  height: 40px;
  min-width: 0;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.toolbar {
  margin: 10px 0;
  background-color: #f2f2f2;
  padding: 10px;
}
